<%= form_with(model: movie, local: true) do |form| %>
  <% if movie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(movie.errors.count, "error") %> prohibited this movie from being saved:</h2>

      <ul>
      <% movie.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nombre %>
    <%= form.text_field :nombre, id: :movie_nombre %>
  </div>

  <div class="field">
    <%= form.label :clasificacion %>
    <%= form.text_field :clasificacion, id: :movie_clasificacion %>
  </div>

  <div class="field">
    <%= form.label :genero %>
    <%= form.text_area :genero, id: :movie_genero %>
  </div>

  <div class="field">
    <%= form.label :lanzamiento %>
    <%= form.date_select :lanzamiento, id: :movie_lanzamiento %>
  </div>

  <div class="field">
    <%= form.label :duracion %>
    <%= form.time_select :duracion, id: :movie_duracion %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
