<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @movie.nombre %>
</p>

<p>
  <strong>Clasificacion:</strong>
  <%= @movie.clasificacion %>
</p>

<p>
  <strong>Genero:</strong>
  <%= @movie.genero %>
</p>

<p>
  <strong>Lanzamiento:</strong>
  <%= @movie.lanzamiento %>
</p>

<p>
  <strong>Duracion:</strong>
  <%= @movie.duracion %>
</p>

<%= link_to 'Edit', edit_movie_path(@movie) %> |
<%= link_to 'Back', movies_path %>
